/* Native bar fix | Credit Intrnl */
@import url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/themefile.css)!important;
@import url(https://rawgit.com/intrnl/discordAdditions/master/revertTitlebar/themefile_notice.css)!important;


/* Circle Avatar */

[class*="avatar-"], .status, [class*="avatarStatus"], .image-EVRGPw{border-radius: 50% !important;}
.guilds [class*="avatar-"]{border-radius: 0 !important;}


/* title bar looks */
#app-mount {
    background-color: #19191b;
}

#app-mount .titleBar-3_fDwJ {
    padding-top: 4px!important;
    background-color: #19191b !important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa {
    margin: auto 0;
    margin-right: 10px!important;
    width: 13px!important;
    height: 13px!important;
    border-radius: 100%!important;
    background-color: #ff002f!important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px!important;
    width: 14px!important;
    height: 14px!important;
    border-radius: 100%!important;
    background-color: rgb(255, 235, 0)!important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px!important;
    width: 14px!important;
    height: 14px!important;
    border-radius: 100%!important;
    background-color: #00ff89!important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .wordmark-2L03Wr svg {
    display: none!important;
}

.message-group .avatar-large

.message-group .avatar-larg

.container-2OU7Cz {
    background-color: #121213!important;
}

.typing {
    height: 15px!important;
}

.container-iksrDt {
    height: 71px!important;
    background: #131313!important;
    border-top: 1px solid var(--main-color)!important;
    width: calc(100% - -60px)!important;
    position: relative!important;
    z-index: 10!important;
    color: #fff!important;
    border-radius: 0px !important;
    margin-left: -76px!important;
    margin-bottom: 8px!important;
}

.channelTextArea-os01xC {
    margin: 20px 0 3px!important;
    padding: 0px 0px 0px 0px!important;
}

.chat form {
    -ms-flex-negative: 0!important;
    -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
    box-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex-shrink: 0!important;
    margin: 0 0px -1px 4px!important;
    position: relative!important;
}

.container-iksrDt .avatar-small {
    -ms-flex-negative: 0!important;
    cursor: pointer!important;
    flex-shrink: 0!important;
    margin: 0 10px 0 83px!important;
}

.scroller.messages {
    overflow-y: scroll;
    margin-left: -17px!important;
}

.message-group .avatar-large {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px!important;
    margin-top: -2px!important;
    left: 4px!important;
}

.chat .divider > span {
    color: #ffffff !important;
    border-bottom: 1px solid var(--main-color)!important;
    background: transparent !important;
    border-radius: 3px!important;
    position: relative!important;
    text-align: center!important;
    left: -14px!important;
}

.private-channels header {
    -webkit-transition: opacity .15s ease!important;
    color: #fff!important;
    cursor: default!important;
    display: block!important;
    font-size: 12px!important;
    font-weight: 500!important;
    letter-spacing: .025em!important;
    margin-top: 12px!important;
    opacity: 1!important;
    overflow: hidden!important;
    padding: 9px 20px!important;
    text-overflow: ellipsis!important;
    text-transform: uppercase!important;
    transition: opacity .15s ease!important;
    white-space: nowrap!important;
}

.private-channels .channel a {
    -ms-flex-align: center!important;
    -ms-flex-direction: row!important;
    -webkit-box-align: center!important;
    -webkit-box-direction: normal!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-sizing: border-box!important;
    align-items: center!important;
    border-radius: 3px!important;
    box-sizing: border-box!important;
    color: #fff!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex-direction: row!important;
    font-weight: 400!important;
    height: 40px!important;
    margin: 1px 0 -5px 8px!important;
    padding: 8px!important;
    text-decoration: none!important;
}

.chat .messages {
    margin: 0px 0px 0px -20px!important;
    overflow-x: hidden!important;
}

.innerEnabled-gLHeOL.inner-3if5cm.flex-3B1Tl4.innerNoAutocomplete-kaUXJZ {
    margin: -18px 0px 6px 0px!important;
    display: flex!important;
    padding: 0px 990px 10px 0px!important;
}

.textArea-20yzAH {
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    appearance: none!important;
    background-color: transparent!important;
    border: none!important;
    font-size: 0.9375rem!important;
    font-weight: 400!important;
    letter-spacing: -0.025rem!important;
    line-height: 1.25rem!important;
    margin: 2px 4px 3px 0px!important;
    max-height: 144px!important;
    min-height: 20px!important;
    outline: none!important;
    resize: none!important;
    width: 1274px!important;
}

.bf-toolbar {
    user-select: none!important;
    white-space: nowrap!important;
    font-size: 85%!important;
    display: block!important;
    position: absolute!important;
    color: rgba(255, 255, 255, .5)!important;
    width: auto!important;
    right: 0!important;
    bottom: auto!important;
    border-radius: 3px!important;
    margin: 10px 0px 0px 0px!important;
    height: 27px!important;
    top: 0px!important;
    transform: translate(0, -100%)!important;
    opacity: 1!important;
    overflow: hidden!important;
    pointer-events: none!important;
    padding: 10px 30px 15px 5px!important;
    margin-right: 42px!important;
}

.avatar-large .status, .avatar-profile .status, .avatar-small .status, .avatar-xlarge .status, .avatar-xsmall .status, .avatar-xxlarge .status {
    background-clip: padding-box!important;
    bottom: -4px!important;
    height: 40px!important;
    pointer-events: none!important;
    position: absolute!important;
    right: -4px!important;
    width: 40px!important;
}

.message-group .avatar-large {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 23px!important;
    margin-top: -3px!important;
    left: 8px!important;
}

.bf-toolbar .bf-arrow {
    content: ""!important;
    display: block!important;
    background: url(data:image/svg+xml!important;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Q…YtNiA2eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+)!important;
    height: 30px!important;
    width: 30px!important;
    top: 28px!important;
    right: 2px!important;
    position: absolute!important;
    pointer-events: initial!important;
    bottom: 0!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    transition: all 200ms ease!important;
    opacity: .3!important;
    cursor: pointer!important;
}

.bf-toolbar .bf-arrow::before {
    content: ""!important;
    display: block!important;
    background: url(data:image/svg+xml!important;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Q…YtNiA2eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+)!important;
    height: 30px!important;
    width: 30px!important;
    top: 25px!important;
    right: 2px!important;
    position: absolute!important;
    pointer-events: initial!important;
    bottom: 0!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    transition: all 200ms ease!important;
    opacity: .3!important;
    cursor: pointer!important;
}

.chat .jump-to-present-bar {
    -webkit-transition: background-color .2s!important;
    background-color: var(--main-color)!important;
    border-radius: 3px 3px 0 0!important;
    bottom: 0!important;
    color: white!important;
    cursor: pointer!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    font-weight: 400!important;
    text-align: center!important;
    left: 1011px!important;
    position: absolute!important;
    right: 20px!important;
    text-transform: capitalize!important;
    transition: background-color .2s!important;
    z-index: 2!important;
}

.guilds-wrapper .guilds {
    padding: 48px 0px 18px 14px !important;
}

.guilds-wrapper {
    width: 76px!important;
    height: 995px!important;
}

.message-group h2 .timestamp {
    color: #99aab5!important;
    font-size: 0.55rem!important;
    font-weight: 400!important;
    letter-spacing: 0!important;
    margin-top: 12px!important;
    margin-left: 6px!important;
    text-transform: none!important;
}


/* More theme fixes */

.backdrop-2ohBEd {
    bottom: 0!important;
    contain: strict!important;
    left: 0!important;
    opacity: 0!important;
    position: fixed!important;
    right: 0!important;
    opacity: 0.8!important;
    top: 0!important;
    z-index: 1000!important;
}

.badge {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15)!important;
    background-clip: padding-box!important;
    background-color: var(--main-color)!important;
    border-radius: 3px!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15)!important;
    color: #fff!important;
    display: inline-block!important;
    font-size: 12px!important;
    font-weight: 500!important;
    line-height: 12px!important;
    padding: 3px 6px!important;
    text-shadow: 0 1px 0 rgba(0,0,0,.25)!important;
}

code {
    background-color: #353c44!important;
    background-image: linear-gradient(rgb(26, 28, 31) 50%, transparent 50%)!important;
    background-origin: content-box!important;
    color: white!important;
    background-position: 0 1.5em!important;
    background-size: 100% 3em!important;
    line-height: 1.5 !important;
}

.theme-dark .message-group .comment .markup pre {
    background: #141417 !important;
    border-color: #19191b !important;
}




/* Boop FIXES */

.attachButton-Di6YUh {
    -webkit-transform-origin: 50% 50%!important;
    -webkit-transition: opacity .1s ease, -webkit-transform .1s ease!important;
    cursor: pointer!important;
    height: 24px!important;
    margin: 22px 0 10px 18px!important;
    transform-origin: 50% 50%!important;
    transition: opacity .1s ease, -webkit-transform .1s ease!important;
    transition: opacity .1s ease, transform .1s ease!important;
    transition: opacity .1s ease, transform .1s ease, -webkit-transform .1s ease!important;
    width: 24px!important;
}

.attachment-image .image, .message-group .comment .attachment-image img, .embed .image, .embed .embed-thumbnail img {
    border-radius: 3px!important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4)!important;
    max-width: 397px!important;
}

.chat .content .flex-spacer.flex-vertical:only-child .message-group .comment .markup {
    max-width: 75%!important;
}

.theme-dark [class*="cardPrimaryEditable"], .theme-dark [class*="cardPrimary"], .theme-dark [class*="cardPrimaryOutline"], .theme-dark [class*="headerClickable"], .theme-dark [class*="headerDefault"], .theme-dark [class*="headerExpanded"] {
    background: #131313 !important;
    border: none!important;
    box-shadow: none!important;
}

.user-settings-streamer-mode {
    background: #131313!important;
}

.headerBar-cxbhPD {
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    height: 46px!important;
    padding: 0 8px 0 12px!important;
    visibility: visible!important;
    z-index: 1!important;
}

.messages-popout {
    -ms-flex: 1!important;
    -webkit-box-flex: 1!important;
    -webkit-box-sizing: border-box!important;
    border-radius: 0 0 5px 5px!important;
    box-sizing: border-box!important;
    background: #0f0f11!important;
    flex: 1!important;
    padding: 13px 5px 7px 13px!important;
}

.messages-popout .message-group {
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    -webkit-transition: border-color .1s ease-in-out!important;
    -webkit-user-select: none!important;
    border: 2px solid rgba(28,36,43,.06)!important;
    border-radius: 5px!important;
    margin: 0 0 6px!important;
    top: -8px!important;
    overflow: hidden!important;
    padding: 10px!important;
    position: relative!important;
    transition: border-color .1s ease-in-out!important;
    user-select: none!important;
}

.app .guilds .guild:first-of-type .guild-inner {
    background: #131313 !important;
}

.theme-dark .themed-popout {
    background-color: #19191b !important;
    border: 2px solid #131315 !important;
    width: 558px!important;
}

.channels-3g2vYe {
    -ms-flex-negative: 0!important;
    background-color: #131313!important;
    flex-shrink: 0!important;
    width: 290px!important;
}

/* Timestamp */

.theme-dark .message-group h2 span {
    color: hsla(0, 0%, 100%, 0.63)!important;
}

.guilds-wrapper .scroller-wrap {
    width: 78px!important;
    margin-bottom: -66px!important;
}

.guilds-wrapper {
    width: 76px!important;
    height: 989px!important;
}

.title-qAcLxz, .titleCall-3X0yGQ {
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    height: 46px!important;
    padding: 0 79px 0 12px!important;
}

.guilds-wrapper .guilds-add {
    border: 0px solid transparent!important;
    position: fixed !important;
    bottom: -39px!important;
    width: 74px !important;
    border-radius: 0px!important;
    left: 0px!important;
    height: 3px !important;
    line-height: 1px!important;
    font-size: 0px !important;
    transition: .1s all linear!important;
}

.scroller.guilds {
    height: calc(100% - 148px) !important;
}

.search-bar input {
    -ms-flex: 1!important;
    -webkit-box-flex: 1!important;
    /* -webkit-box-sizing: border-box!important; */
    background: #131313!important;
    border: none!important;
    box-sizing: none!important;
    color: #fff!important;
    flex: 1!important;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    font-size: 12px!important;
    height: 26px!important;
    min-width: 50px!important;
    outline: none!important;
    padding: 5px 7px!important;
    resize: none!important;
}

/* Jumbled Fixes */

.theme-dark .title-qAcLxz {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06)!important;
    border-bottom: 2px var(--main-color) solid !important;
    background: #131313!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06)!important;
}

.scrollerWrap-2uBjct {
    -ms-flex: 1!important;
    -webkit-box-flex: 1!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex: 1!important;
    background: #131313!important;
    height: 100%!important;
    min-height: 1px!important;
    position: relative!important;
}

.guilds-wrapper {
    width: 76px!important;
    height: 873px!important;
}

.typeWindows-15E0Ys {
    height: 0px!important;
    margin-top: 4px!important;
}

.theme-dark .headerBar-cxbhPD {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06)!important;
    background: #131313!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06)!important;
    border-bottom: 2px var(--main-color) solid !important;
}

.private-channels .search-bar {
    background: rgb(19, 19, 19) !important;
    border-bottom: 2px var(--main-color) solid !important;
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, .06), inset 0 0px 0 0 rgba(0, 0, 0, .2)!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
    margin-top: -5px!important;
}

.wordmark-2L03Wr {
    font-size: 0!important;
    left: 0!important;
    opacity: .6!important;
    padding: 4px 8px 3px!important;
    pointer-events: none!important;
    display: none!important;
    position: absolute!important;
    top: 0!important;
}

.private-channels .search-bar-inner {
    background: #131313 !important;
}

.wordmark-2L03Wr {
    font-size: 0!important;
    left: 0!important;
    opacity: .6!important;
    padding: 4px 8px 3px!important;
    pointer-events: none!important;
    display: none!important;
    position: absolute!important;
    top: 0!important;
}

.typeWindows-15E0Ys {
    height: 18px!important;
    margin-top: -18px!important;
}



.winButton-U7zAqI:after {
    -webkit-app-region: no-drag!important;
    cursor: pointer!important;
    height: 22px!important;
    visibility: visible!important;
    opacity: .6!important;
    pointer-events: auto!important;
    position: relative!important;
    display: grid!important;
    top: 27px!important;
    width: 28px!important;
}

.winButtonMinMax-bT_gQ1:after {
    -webkit-app-region: no-drag!important;
    cursor: pointer!important;
    height: 22px!important;
    visibility: visible!important;
    opacity: .6!important;
    pointer-events: auto!important;
    position: relative!important;
    display: grid!important;
    top: 27px!important;
    width: 28px!important;
}

.center-1MLNrE:after {
    -webkit-app-region: no-drag!important;
    cursor: pointer!important;
    height: 22px!important;
    visibility: visible!important;
    opacity: .6!important;
    pointer-events: auto!important;
    position: relative!important;
    display: grid!important;
    top: 27px!important;
    width: 28px!important;
}

.winButton-U7zAqI {
    -webkit-app-region: no-drag!important;
    cursor: pointer!important;
    height: 22px!important;
    visibility: visible!important;
    opacity: .6!important;
    pointer-events: auto!important;
    position: relative!important;
    top: 27px!important;
    width: 28px!important;
}

.winButton-U7zAqI:after {
    -webkit-app-region: no-drag!important;
    cursor: pointer!important;
    height: 22px!important;
    visibility: visible!important;
    opacity: .6!important;
    pointer-events: auto!important;
    position: relative!important;
    top: 27px!important;
    width: 28px!important;
}

.appMount-14L89u {
    -ms-flex-direction: column!important;
    -webkit-box-direction: normal!important;
    -webkit-box-orient: vertical!important;
    background-color: #19191b!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex-direction: column!important;
    height: 100vh!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 100vw!important;
}

.search-results-wrap {
    margin: 0px 0px 0px -23px!important;
    padding: 0px 0px 0px 0px!important;
}

span.text {
    margin: -5px 0px 0px 0px!important;
}


.typing strong {
    font-weight: 900!important;
}

button.guild.guilds-add {
    margin: 0px 0px 40px 2px!important;
}

@import url(https://fonts.googleapis.com/css?family=Satisfy)!important;
:root {
	--version-content: "6.6"!important;
	--theme-name: "Modern"!important;
	--theme-letter: "M"!important;
}


/* Over-written resources*/

@-webkit-keyframes mentionpulse {
    0% {
        box-shadow: 0 0 0 0 var(--main-color)!important;
    }
    70% {
        box-shadow: 0 0 5px 5px var(--hover-color)!important;
        opacity: 0.7!important;
    }
    to {
        box-shadow: 0 0 0 0 var(--hover-color)!important;
        opacity: 0.4!important;
    }
}
[class*="avatar-"],
.status,
[class*="avatarStatus"] {
    border-radius: 50% !important;
}
.guilds [class*="avatar-"] {
    border-radius: 0 !important;
}
.content-region .CodeMirror-simplescroll-vertical,
#bd-customcss-detach-container .CodeMirror-simplescroll-vertical {
    margin-right: 1px !important;
    margin: 7px 0px 0px 0px!important;
}
.content-region .CodeMirror-simplescroll-horizontal,
#bd-customcss-detach-container .CodeMirror-simplescroll-horizontal {
    margin-bottom: 0px !important;
}
.content-region .CodeMirror,
.content-region .CodeMirror-scroll {
    max-height: calc(95vh - 165px)!important;
    min-height: calc(95vh - 165px)!important;
    background: #292b2f!important;
    height: auto!important;
}
.content-region #bd-customcss-attach-controls::after {
    display: none!important
}
.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before {
    display: none!Important
}
.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .ui-form-title.h2+.bd-pfbtn {
    top: 60px!important;
    position: absolute!important;
    left: 149px!important;
    background: var(--main-color)!important;
    font-weight: 600!important;
}
.bd-blue .bd-pfbtn {
    background: #3a71c1!important;
    left: 200px!Importa!important;
    margin: 1px 0px 0px -7px!important;
}
button.bd-pfbtn.bd-updatebtn {
    left: -46px!important;
    margin: -4px 0px 0px 8px!important;
}
.chat .divider.divider-red > span {
    color: #3188a9 !important;
    background-color: #111113 !important;
    border-radius: 3px!important;
    text-align: center!important;
    left: 0px!important;
}
.title-wrap {
    border-bottom: #19191b !important;
    background: #131313 !important;
}
.private-channels .search-bar {
    background: rgb(19, 19, 19) !important;
    border-bottom: 2px var(--main-color) solid !important;
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, .06), inset 0 0px 0 0 rgba(0, 0, 0, .2)!important;
    -webkit-border-radius: 0px!important;
    border-radius: 0px!important;
    margin-top: -1px!important;
}
.private-channels .search-bar-inner {
    background: #131313 !important;
}
.theme-dark .search .search-bar {
    background-color: #131313!important;
    border: 2px solid #121213!important;
    padding: 0px 0px 28px 0px!important;
    border-bottom: 2px solid #121213 !important;
}
.guilds-wrapper .guilds .friends-online {
    margin: 0px -13px!important;
    background: #121213!important;
    border-radius: 0px!important;
    line-height: 19px!important;
    color: white!important;
    width: 75px!important;
    padding-top: 6px!important;
    padding-bottom: 3px!important;
    transition: background .2s linear, color .2s linear!important;
    cursor: pointer!important;
}
.quick-message {
    background: #0b0b0c!important;
    border: #0f0f10!important;
    color: white!important;
}
.userPopout-4pfA0d .headerNormal-1cioxU {
    background: rgb(19, 19, 19)!important;
    background-image: url(https://betterdocs.net/img/bg.svg)!important;
    background-size: 15em!important;
}
.note textarea {
    -webkit-box-sizing: border-box!important;
    background: transparent!important;
    border: none!important;
    box-sizing: border-box!important;
    color: #87909c!important;
    font-size: 12px!important;
    line-height: 14px!important;
    max-height: 400px!important;
    outline: none!important;
    padding: 2px 10px!important;
    resize: none!important;
    width: 100%!important;
}
span.headerUsernameNoNickname-1iGxNP {
    font-weight: bolder!important;
}
.wrapper-2ldvyE {
    color: #fff!important;
    background-color: #19191b!important;
    /* border: 2px solid var(--main-color)!important; */

    opacity: 0.8!important;
}
.guilds-wrapper .guilds .guild:first-of-type .guild-inner {
    background: #19191b !important;
}
.guilds-wrapper .guilds .guild:first-of-type .guild-inner {
    background: #131313 !important;
}

.popout.popout-bottom:not(.no-arrow) .popout-menu .popout-menu-item .popout-menu-icon {
    width: 20px!important;
    height: 20px!important;
    padding: 5px!important;
    border-radius: 50%!important;
    background-position: center!important;
    background-color: #131313!important;
    background-repeat: no-repeat!important;
    background-size: 16px 16px!important;
    opacity: 0.8!important;
    transition: opacity 200ms!important;
}
.message-group .mentioned .message-text {
    -webkit-animation: mentionpulse 2s infinite!important;
    animation: mentionpulse 0s infinite!important;
}

.chat>.content .messages .message-group .markup {
    color: #ffffff!important;
    line-height: 1.3em!important;
    padding: 0!important;
}
.attachButton-Di6YUh {
    -webkit-transform-origin: 50% 50%!important;
    -webkit-transition: opacity .1s ease, -webkit-transform .1s ease!important;
    cursor: pointer!important;
    height: 24px!important;
    margin: 15px 0 10px 10px!important;
    transform-origin: 50% 50%!important;
    transition: opacity .1s ease, -webkit-transform .1s ease!important;
    transition: opacity .1s ease, transform .1s ease!important;
    transition: opacity .1s ease, transform .1s ease, -webkit-transform .1s ease!important;
    width: 24px!important;
}
.accountDetails-15i-_e {
    font-size: 106%!important;
    margin: 2px 0px 0px 5px!important;
}
.ui-standard-sidebar-view .tools {
    -ms-flex: 0 0 36px!important;
    -ms-flex-align: start!important;
    -ms-flex-pack: center!important;
    -webkit-box-align: start!important;
    -webkit-box-flex: 0!important;
    -webkit-box-pack: center!important;
    align-items: start!important;
    flex: 0 0 36px!important;
    justify-content: center!important;
    margin-right: 0px!important;
    margin-left: -36px!important;
    padding-top: 60px!important;
    position: relative!important;
}

.ui-standard-sidebar-view .esc-text {
    font-size: 13px!important;
    font-weight: 600!important;
    margin-top: 44px!important;
    margin: 41px 0px 0px 3px!important;
    position: fixed!important;
    text-align: center!important;
    width: 36px!important;
}
.ui-standard-sidebar-view .btn-close {
    -ms-flex: 0 0 36px!important;
    -ms-flex-align: center!important;
    -ms-flex-pack: center!important;
    -webkit-box-align: center!important;
    -webkit-box-flex: 0!important;
    -webkit-box-pack: center!important;
    align-items: center!important;
    border-radius: 50%!important;
    border-style: solid!important;
    border-width: 2px!important;
    cursor: pointer!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex: 0 0 36px!important;
    margin: 0px 0px 0px 3px!important;
    height: 36px!important;
    justify-content: center!important;
    position: fixed!important;
    width: 36px!important;
}

.header-1tSljs {
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06)!important;
    -webkit-box-sizing: border-box!important;
    -webkit-transition: background-color .15s ease!important;
    align-items: center!important;
    border-bottom: 1px solid rgba(0,0,0,.2)!important;
    box-shadow: 0 1px 0 rgba(0,0,0,.06)!important;
    box-sizing: border-box!important;
    background: #131313!important;
    color: #fff!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    font-weight: 500!important;
    height: 56px!important;
    padding: 0 16px!important;
    transition: background-color .15s ease!important;
    z-index: 3!important;
}

.chat form {
    -ms-flex-negative: 0!important;
    -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
    box-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex-shrink: 0!important;
    margin: 0 30px!important;
    position: relative!important;
}

input[type="text"]::-webkit-input-placeholder {
    color: white!important;
}

div::-webkit-input-placeholder {
color: white!important;
}

div#placeholder-cd3au {
    color: white!important;
}

div {
    color: white!important;
}

:root {
	--version-content: "2.3"!important;
	--theme-name: "Modern"!important;
	--theme-letter: "M"!important;
}

@import url(https://pastebin.com/raw/qDjy0ekv)!important;


text-shadow: 0px 1px 3px #000!important;
}


@font-face {
    font-family: 'vermin_vibes_2_softregular'!important;
    src: url('https://dl.dropboxusercontent.com/content_link/uWa2RIoFn4hgtfPQFRPD8SaPKYb40GQVpUWRiUqGqJMdpIhWB518ZgACgpmsQkoZ/file?dl=1') format('woff2'),
         url('https://dl.dropboxusercontent.com/content_link/WdEEwUR66GDVpATYqMDCVDiwaintL6STBoVYc0N6i8xAQrbUFaNvsekUgTwgdqpW/file?dl=1') format('woff')!important;
    font-weight: normal!important;
    font-style: normal!important;

}

.message-group:not(.compact) .avatar-large[style*="134445168353869826"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style*="134445168353869826"] ~ .member-inner .member-username .member-username-inner::after {
    content: "CUNT"!important;
    color: #fff!important;
    border-radius: 3px!important;
    background: black!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px!important;
}

.message-group:not(.compact) .avatar-large[style*="350732363095080960"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style*="350732363095080960"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Gorgeous Woman"!important;
    color: #fff!important;
    border-radius: 3px!important;
    background: rgba(179, 19, 144, 0.82)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px!important;
}

/* Phoenix's stuff */

.message-group:not(.compact) .avatar-large[style*="187510439066730496"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style*="187510439066730496"] ~ .member-inner .member-username .member-username-inner::after {
    content: "CUNT"!important;
    color: #fff!important;
    border-radius: 3px!important;
    background: black!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px!important;
}

/* NightWulf's stuff */

.message-group:not(.compact) .avatar-large[style*="207524250075004928"] ~ .comment .message h2 span.username-wrapper::after, .channel-members .member .avatar-small[style="134445168353869826"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Retard"!important;
    color: #8213E4!important;
    border-radius: 3px!important;
    border: 1px solid #8213E4!important;
    background: rgba(154, 26, 218, 0.0980392)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px!important;
}

/* Dimitri's Gif AVATAR POOL*/

.message-group .avatar-large[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.avatar-1BXaQj.popout-UKvsJt.avatarNormal-3luwna.avatar-1jmnc-[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.avatar-xxlarge.stop-animation[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.avatar-xxlarge[style*="134445168353869826"] {
background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.avatar-small.stop-animation[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.avatar-small[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

.ui-call-avatar.voice[style*="134445168353869826"] {
    background-image: url(https://i.imgur.com/4ATqlI7.gif) !important;
}

/* END */
